.bottom-comments-outer
    display flex
    justify-content: center
    margin-bottom: 100px

.bottom-comments-inner
    width: $post-max-width
    @media $desktop-m
        width: 730px
    @media $desktop-s
        width: 570px
    @media $mobile-m
        width: 470px
    @media $mobile-s
        width: 350px
        

/* 图标容器样式 */
.icon {
  display: inline-block;
  width: 100px;  // 根据需要调整图标容器的大小
  height: 100px;
  border-radius: 0px;  // 圆角矩形效果，根据需要调整圆角大小
  margin: 10px;  // 根据需要调整图标容器之间的间距
  text-align: center;
  background-color: transparent ;  // 背景颜色，根据需要调整
  transition: opacity 0.3s ease;  // 添加过渡效果
}

/* 图标按压效果 */
.icon:hover {
  opacity: 0.8;  // 根据需要调整按压效果的透明度
  transform: scale(1.15);  // 添加放大效果
  transition: opacity 0.3s ease, transform 0.3s ease;  // 添加过渡效果
}

/* 图标图片样式 */
.icon img {
  max-width: 80%;  // 图片的最大宽度，根据需要调整
  max-height: 80%;  // 图片的最大高度，根据需要调整
  margin-top: 20%;  // 图片的上边距调整
}        


